
    body{
        background-color: red;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    form{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        padding: 20px;
        border-radius: 10px;
        width: 75%;
    }

    label{
        border: none;
    }

    input, button{
        border-radius: 10px;
        line-height: 20px;
    }

    .target{
        display: none;
    }


/* Code below is for desktop */

@media only screen and (min-width: 800px) {

    

    body{
        background-color: red;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    .form-container{
        display: flex;
        width: 40%;
        justify-content: center;
    }

    form{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        padding: 20px;
        border-radius: 10px;
    }

    .target {
        background-color: black;
        width: 60%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .outer{
        height: 300px;
        width: 300px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        
    }

    .middle{
        height: 200px;
        width: 200px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
    }

    .inner{
        height: 100px;
        width: 100px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
    }

}