
body{
    background-color: #ececec;
    font-family: 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.header-links{

}

.main{

}

button{
    background-color: #000;
    color: #fff;
    width: 100%;
   
    border-radius: 50%;
}




